= form_for @article do |f|
  - if @article.errors.any?
    %div
      %h3
        = pluralize(@article.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title
    = f.text_field :title

  %p
    = f.label :text
    = f.text_area :text

  %p
    = link_to 'Back', articles_path, class: 'btn'
    = f.submit :class => 'btn btn--block'
