<h2>
  <%= @article.title %>
</h2>

<%= link_to 'Back', articles_path %>
<%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn--error text-right' %>
<%= link_to 'Edit', edit_article_path(@article), class: 'btn--warning text-right' %>

<p class="article-text">
  <%= @article.text %>
</p>

<h4>Comments</h4>
<h5>
  <%= pluralize(@article.comments.count, 'comment') %>
</h5>
<%= render @article.comments %>

<%= render 'comments/form' %>