!!! 5
%html>
%head>
  %title Blog
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700|Material+Icons'
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
= yield
